@import "../../../styles/_vars.scss";

* {
  font-family: $base-font-family;
  color: $base-font-color;

  h2 {
    font-weight: normal !important;
    color: $light-border-color;
  }

}

.login-content {
  display: grid;
  grid-template-columns: 1fr 340px;
  grid-template-rows: 190px 205px 1fr;
  grid-template-areas: ". ." ". form" "text form";
  grid-column-gap: 20px;

  .text {
    grid-area: text;
    padding-top: 10px;

    h1 {
      padding-bottom: 5px;
    }

    p {
      font-size: 13pt;
    }
  }

  .auth {
    grid-area: form;
    width: 340px;
    background-color: #fff;
    font-size: 13pt;

    .header {
      height: 55px;
      background-color: #000;
      text-align: center;
      font-size: 16pt;
      padding-top: 10px;
    }

    .form {
      height: 350px;
      padding: 20px;

      .filler {
        text-align: center;

        .alert {
          font-size: 11pt;
          color: red;
        }
      }

      .btn {
        text-align: center;
        padding: 20px 0 10px 0;

        & > dx-button {
          color: #fff;
          font-size: 13pt;
          width: 100%;
        }
      }
    }
  }
}
