<div class="account-block" #accountBlock>
  <div class="photo" #photo (click)="toggleMenu()">
  </div>
  <div class="greeting">
    {{ 'Hello' | translate:lang }},<br><span id="name" (click)="goToProfile()">{{_userDisplayName}}</span>
  </div>
  <div id="menu" #menu (click)="onMenuClick()">
    <ul>
      <li (click)="goToArina()">
        <div class="icon"><i class="fa fa-diamond" aria-hidden="true"></i></div>
        <div class="link">Арина</div>
      </li>
      <li (click)="goToProfile()">
        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="link">{{ 'Profile' | translate: lang }}</div>
      </li>
      <li (click)="logout()">
        <div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
        <div class="link">{{ 'Log out' | translate:lang }}</div>
      </li>
    </ul>
  </div>
</div>
