<lime-page-header title="My installations"></lime-page-header>

<ng-container *ngIf="(_amountOfInstallations | async) > 0">

  <div class="service-bar">
    <div class="total-count">
      {{'Total records' | translate: lang}}: {{_amountOfInstallations | async}}
    </div>
    <div class="search">
      <div>
        <dx-text-box #search
                     [(value)]="searchString"
                     [showClearButton]="true"
                     placeholder="{{'Search' | translate: lang}}"
                     (onValueChanged)="searchedValuehanged($event)"
        >
        </dx-text-box>
      </div>
    </div>
  </div>
</ng-container>
<!--valueChangeEvent="keyup"-->


<div class="installations-list">
  <div (click)="goToCreateInstallation()" class="item new new-button">
    <div class="text">
      {{'New installation' | translate: lang}}
    </div>
    <div class="icon">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
  </div>

  <ng-container *ngIf="_installationsList | async; else loadPanel">
    <div class="item" *ngFor="let installation of _installationsList | async;"
         (click)="chooseInstallation(installation)">
      <div class="stroke">
        <div class="name">
          {{installation.name}}
        </div>
      </div>
    </div>
  </ng-container>

  <div class="emptiness" *ngIf="(_amountOfInstallations | async) == 0">
    {{ 'You are not yet in any installation. A great opportunity to create your own :)' | translate: lang }}
  </div>

</div>


<lime-paginator [totalItems]="_amountOfInstallations | async" [currentPage]="page" [pageSize]="pageSize"
                (changePage)="updateInstallationList($event)"></lime-paginator>


<ng-template #loadPanel>
  <dx-load-panel
    shadingColor="rgba(0,0,0,0.4)"
    [(visible)]="loading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    message="{{ 'Loading' | translate:lang }}...">
  </dx-load-panel>
</ng-template>
