@import "../../../styles/mixins";
@import "../../../styles/_vars";

.service-bar {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .search {
    width: 310px;
    justify-self: right;
  }
}

.new-button {
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid $light-border-color;
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#fcfcfc, #fafafa) !important;
  transition: all .218s ease 0s;

  &:hover {
    color: darken($base-font-color,20%);
    border: 1px solid darken($light-border-color, 2%);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1) !important;
    box-shadow: 0 1px 2px darken($light-border-color, 2%);

    .icon{
      color: $accent-color;
      @include transition2(0.3s);
    }
  }

  &:active {
    color: darken($base-font-color,30%);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224)) !important;
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;

    .icon{
      color: $accent-color;
      @include transition2(0.3s);
    }
  }

  &.centered{
    grid-column: 2/3;
  }
}




.installations-list {
  @include offSelection;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding-bottom: 15px;

  .item {
    min-width: 285px;
    width: 285px;
    min-height: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;

    background: url("../../../../assets/i/my-installations/bck.jpg") no-repeat;
    background-size: 100%;
    background-position: 0px -15px;

    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 2px darken($light-border-color, 30%);
    }

    &:active {
      box-shadow: 1px 3px 5px rgba(0,0,0,.3) inset;
    }

    &.new {
      background-image: none;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      margin: auto;
      justify-content: center;
      padding: 20px 10px;

      & > * {
        text-align: center;
      }

      .text {
        font-size: 22px;
      }

      .icon {
        font-size: 25px;
      }
    }

    .stroke {
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 60%;
      align-self: center;
      text-align: center;
      display: flex;
      padding: 0 20px;

      .name {
        font-size: $base-h2-size;
        font-family: $base-h2-family;
        font-weight: bold;
        margin: auto;
        align-self: center;
      }

    }
  }

  .emptiness {
    //margin-top: 30px;
    //margin-bottom: 20px;
    margin: auto;
    text-align: center;
    grid-column: 1/5;
    grid-row: 2/3;
  }
}



/* Large screens ----------- */
@media (max-width: 1824px) {
  .installations-list {
    grid-template-columns: 1fr 1fr 1fr;

  }
}

