<div class="dx-fieldset object-selector">
  <div class="dx-field">
    <dx-lookup
      #lookup
      [items]="items"
      [value]="_selectedInstallation"
      displayExpr="name"
      [closeOnOutsideClick]="true"
      [showPopupTitle]="false"
      (onValueChanged)="changed($event)"
      placeholder="{{ 'Choose the installation' | translate:lang }}"
      noDataText="{{ 'You are not have any installation' | translate:lang }}"
      cancelButtonText="{{ 'Cancel' | translate:lang }}"
      searchPlaceholder="{{ 'Search' | translate:lang }}"
    >

    </dx-lookup>
  </div>
</div>
