@import "../../../styles/vars";
@import "../../../styles/mixins";

.per-page nav p {
  display: inline-block;
  margin: 25px 10px;
  font-weight: bold;
  padding: 2px 0;
}

.per-page nav .pagination {
  float: right;
}

.disabled {
  color: red;
}

.pagination {
  @include offSelection;
  display: flex;
  list-style-type: none;
  align-items: center;

  li {
    //display: inline-block;
    text-align: center;
    margin: 0 4px;

    &.disabled {
      a {
        color: lighten($base-font-color, 50%) !important
      }
    }

    &:not(.active), &:not(.disabled) {
      cursor: pointer;
    }

    &:not(.pages) {
      margin: 0 8px;
    }

    &.active {
      background-color: $accent-color;

      &:hover {
        cursor: auto;
      }
      a {
        color: #fff !important;
      }
    }

    &.pages {
      border: 1px solid $light-border-color;
      border-radius: 50%;
      min-width: 35px;
      height: 35px;
      padding-top: 2px;

      &:not(.active) {
        cursor: pointer;
        background: rgb(245, 245, 245) linear-gradient(#fcfcfc, #fafafa);
      }

      &:hover:not(.active) {
        border: 1px solid darken($light-border-color, 2%);
        background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1) !important;
      }
    }

    a {
      margin: auto;
    }

  }
}
