<!-- pager -->
<ul *ngIf="_pager && _pager.pages && _pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:_pager.currentPage === 1}" (click)="setPage(1)">
    <a>{{'First' | translate: lang}} (1)</a>
  </li>
  <li [ngClass]="{disabled:_pager.currentPage === 1}" (click)="setPage(_pager.currentPage - 1)">
    <a>{{'Previous' | translate: lang}}</a>
  </li>
  <li class="pages" *ngFor="let page of _pager.pages" [ngClass]="{active:_pager.currentPage === page}" (click)="setPage(page)">
    <a>{{page}}</a>
  </li>
  <li [ngClass]="{disabled:_pager.currentPage === _pager.totalPages}" (click)="setPage(_pager.currentPage + 1)" (click)="setPage(_pager.totalPages)">
    <a>{{'Next' | translate: lang}}</a>
  </li>
  <li [ngClass]="{disabled:_pager.currentPage === _pager.totalPages}">
    <a>{{'Last' | translate: lang}} ({{_pager.totalPages}})</a>
  </li>
</ul>
