<div class="description-block">
    <div class="field">
        <div class="description-name">
            Название
        </div>
        <div class="description-text">
            Название точки обслуживания. Обязательное поле.
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Время регистрации
        </div>
        <div class="description-text">
            Время регистрации устройства в системе. Заполняется автоматически.
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Авторизация
        </div>
        <div class="description-text">
            Отображает, авторизовано ли устройство в системе. Авторизацию можно отозвать в любой момент.
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Тип
        </div>
        <div class="description-text">
            Определяет тип точки обслуживания. Тип бывает двух видов:
            <ul class="types-list">
                <li>мобильный терминал - приложение для мобильных устройств на базе Android, эмулирующее работу турникета</li>
                <li>контроллер - валидатор, установленный возле объектов контроля</li>
            </ul>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Тип контроллера
        </div>
        <div class="description-text">
            Тип контроллера: Arduino или CardLan.<span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Период обновления
        </div>
        <div class="description-text">
            Периодичность, с которой контроллер будет посылать запрос к серверу для получения тарифов и настроек. Измеряется в минутах.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Временная зона
        </div>
        <div class="description-text">
            Временная зона, в которой фактически расположено устройство.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Проверка прохода онлайн
        </div>
        <div class="description-text">
            Разрешение или запрет для валидатора на проверку правомерности прохода посетителя через данную точку напрямую с сервера,
            без считывания записанных на карту услуг.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Последнее получение настроек
        </div>
        <div class="description-text">
            Показывает, когда в последний раз точка обслуживания загружала настройки с сервера.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Последнее получение тарифов
        </div>
        <div class="description-text">
            Показывает, когда в последний раз точка обслуживания загружала тарифы с сервера.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Последняя загрузка на сервер общего лога
        </div>
        <div class="description-text">
            Показывает, когда в последний раз происходила загрузка на сервер общего лога устройства.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Последняя загрузка на сервер лога проходов
        </div>
        <div class="description-text">
            Показывает, когда в последний раз происходила загрузка на сервер лога проходов.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
    <div class="field">
        <div class="description-name">
            Последняя загрузка на сервер лога транзакций
        </div>
        <div class="description-text">
            Показывает, когда в последний раз происходила загрузка на сервер лога транзакций.
            <span class="limitation">Только для точки обслуживания типа "контроллер".</span>
        </div>
    </div>
</div>
