$accent-color: #89C161;
$base-font-color: #5E5E66;
$light-border-color: #E7EAEC;
$base-background-color: #F3F3F4;
$base-content-background-color: #FFFFFF;

$base-font-family: "Open Sans",Helvetica,Arial,sans-serif;
$base-font-size: 15px;

$base-h2-family: "elmessiri", "Open Sans",Helvetica,Arial,sans-serif;
$base-h2-size: 22px;

$gutter: 20px;


//$navbar-base-color: #363B40;
$navbar-base-color: #2B2F33;
//$navbar-second-color: #2b2f33;
$navbar-second-color: #363B40;
//$navbar-font-color: lighten(#A7B1C2, 10%);
$navbar-font-color: #9DA2A6;
$navbar-header-color: #fff;
$navbar-amount-font-family: "Heuristica", "Open Sans",Helvetica,Arial,sans-serif;
