@import "../../../styles/vars";
@import "../../../styles/mixins";

.main-bar {
  background-color: $base-content-background-color;
  color: $base-font-color;
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 30px;
  justify-content: space-between;

  .installation-selector {
    align-self: center;
    order: 0;
  }

  .account-block {
    order: 2;
    width:100%;
    text-align: right;
  }

  .filler {
    order: 1;
  }
}

@media (max-width: 640px) {
  .main-bar {
    padding: 0 5px 0 10px;

    lime-account-block {
      width:55px;
      justify-content: flex-end;
    }

    lime-installation-selector{
      padding: 0 10px 0 0;
    }
  }
  }
