@import "../../../../styles/vars";
@import "../../../../styles/mixins";
@import "../navbar/navbar.component";

.menu-item {
  @include offSelection;
  font-weight: $navbar-font-weight;
  padding: 0;
  margin: 0;
  position: relative;

  .marker {
    min-width: 7px;
    width: 7px;
    //align-self: stretch;
    height: 100%;
    background-color: $accent-color;
    position: absolute;
    top:0;
    right: 0;
    visibility: hidden;
    opacity: .1;

    @include transition2(0.15s);
    transform-origin: right;
    transform: scaleX(0);
  }

  &.opened {
    transition: height 0.2s;

    .marker {
      visibility: visible;
      opacity: 1;
      transform: scaleX(1) !important;
    }
  }

  &-children {
    height: auto;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .15s linear;

    &.opened {
      transform: scaleY(1);
    }
  }

  &-base {
    padding-left: 5px;
    display: flex;
    align-items: center;
    position: relative;
    @include transition;

    &:active, &:hover {
      background-color: $navbar-second-color;
    }

    &:hover {
      cursor: pointer;
      .label, .arrow {
        color: $fontHoverColor;
        @include transition2(0.2s);
      }
    }

    .arrow {
      margin: 0 15px;
      visibility: hidden;
      transform: rotate(-90deg);
      color: $accent-color;
    }

    .label {
      padding: 7px 0;
      flex-grow: 1;
      margin: 5px 5px;

    }

    &.parent {
      .arrow {
        visibility: visible;
      }
    }

    &.child {
      background-color: $navbar-second-color;
      //visibility: hidden;
      display: none;

      .label {
        margin-left: 10px;
        padding: 3px 0;
      }

      &.opened {
        //visibility: visible;
        display: flex;
        //@include transition;
      }
    }

    &.opened {
      background-color: $navbar-second-color;

      .arrow {
        transform: rotate(0deg);
        @include transition2(0.1s);
      }

    }

  }
}
