@import "../../../styles/vars";
@import "../../../styles/mixins";

.footer {
  background-color: $base-content-background-color;
  color: $base-font-color;
  height: 100%;
  width: 100%;
  display: flex;
  border-top: solid 1px $light-border-color;
  padding-left: 20px;
  font-size: 13px;
  align-items: center;


  & > *  {
    align-self: center;
  }

  .copyright {
    margin-right: 20px;
  }
}

@media (max-width: 640px) {
  .footer {
    flex-direction:column;
    padding: 3px 10px 0 10px;
    align-items: flex-start;

    & > *  {
      align-self: flex-start;
    }
  }
}
