#form {
    margin: 20px 50px;
}
.check-box {
    float: right !important;
}
.btn-block {
    margin-top: 25px;
    text-align: center;
}
.btn-panel {
    display: inline-block;
}
.save-panel {
    margin-left: 45px;
    margin-right: 55px;
}
.cancel-panel {
    margin-left: 65px;
    margin-right: 35px;
}

.btn-panel .dx-button-text {
    font-size: 18px;
}
.btn-text {
    font-style: italic;
    font-size: 14px;
    margin: 10px;
}
.btn-text-save {
    width: 280px;
}
.btn-text-cancel {
    width: 280px;
}
hr {
    margin: 30px 100px;
    opacity: 0.4;
}

@media (max-width: 600px) {
    .btn-panel {
        margin-left: 0;
        margin-right: 0;
    }
    hr {
        margin: 30px;
    }
}




.description-block {
    margin: 20px 50px;
    font-size: 14px;
}
.field {
    margin: 25px 0;
}
.description-name, 
.description-text {
    display: inline-block;
}
.description-name {
    font-weight: bold;
    width: 220px;
}
.limitation {
    color: rgb(138, 196, 63);
}
.description-text {
    width: 80%;
}
.types-list li {
    list-style-type: none;
}
.types-list li:before {
    content: "*";
    margin-right: 5px;
}