.locale, .current {
  font-size: 13px;
}

.locale:hover {
  cursor: pointer;
}

.current {
  font-weight: bolder;
}

.filler {
  font-size: 13px;
  margin: 0 10px;
  font-weight: normal;
}

.text {
  margin-right: 10px;
}

